.container
  .jumbotron
    %h1 No Resume for the Wicked!

    .progress
      .progress-bar.progress-bar-success{:style => "width: 45%"}
      .progress-bar.progress-bar-warning{:style => "width: 35%"}
      .progress-bar.progress-bar-danger{:style => "width: 20%"}

  %h2 Intro
  %p
    %img{:alt => "Me", :src => "/images/avatar.jpg", :style => "float:left;width:304px;height:304px;"}/

    %p.ex
      OK, I see that you are persistent!!
      %br>/
      I was born in this amazing town called Peja in west of Kosovo. I finished my high school here and then did my Bachelors on Telecommunications in University of Prishtina.
    %p.ex
      Life happened and now I am here in Prague on this amazing university where its concept of a Master in Informatics are an endless UML courses dated back in the 80's. Let's see what future holds.
    %ul.pager
      %li
        %a{:href => "\index.html"} Previous
